
<button (click)="showUserForm = !showUserForm" class=" btn btn-secondary mb-3">Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
     <h2>Add New User </h2>
     <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group">
            <label for="">First Name</label>
            <input
             type="text" 
             [(ngModel)]="user.firstName"
             [ngClass]="{'is-invalid':userFirstName.errors && userFirstName.touched}"
            name="firstName" id="" 
            class="form-control"
            #userFirstName= "ngModel"
            required
            minlength="2" 
            >
            <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">
                First Name Required
            </div>
            <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">
                Must be at least two characters
            </div>
        </div>
        <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" [(ngModel)]="user.lastName" 
            [ngClass]="{'is-invalid':userLastName.errors && userLastName.touched}"
            name="lastName" id="" class="form-control"
            #userLastName= "ngModel"
            required
            minlength="2"
            >
            <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">
                Last Name Required
            </div>
            <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">
                Must be at least two characters
            </div>
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input type="email" [(ngModel)]="user.email" 
            [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"
            name="email" id="" class="form-control"
            #userEmail= "ngModel"
            required
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            >
            <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">
                Email Required
            </div>
            <div [hidden]="!userLastName.errors?.pattern" class="invalid-feedback">
                Email is not valid
            </div>
        </div>
        
        <button [disabled]="!userForm.form.valid" class="btn btn-block mb-3">Add New User</button>
     </form>
</div>

<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
    <li class="card card-body mb-2" *ngFor="let user of users" [class.bg-secondary]="user.isActive" [style.border-color]="user.isActive ? 'green' : ''">
                        <h3>{{user.firstName}} {{user.lastName}}
                            <small><button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm"><i [ngClass]="user.hide ? 'fa fa-chevron-up': 'fa fa-chevron-down' "></i></button></small>
                        </h3>
                        <!--<h3 [ngStyle]="currentStyles">{{user.firstName | uppercase }} {{user.lastName | lowercase}}</h3>-->
                        <ul class="list-group" *ngIf="!user.hide">
                                <li class="list-group-item mb-2">Email: {{user.email}}</li>
                                <li class="list-group-item">Joined: {{user.date | date}}</li>
                                <!--<li class="list-group-item">Number: {{5 | number: "1.2"}} </li>
                                <li class="list-group-item" ngNonBindable><pre>Number: {{5 | number: "1.2"}}</pre> </li>-->
                            </ul>
                </li>
            </ul>
<!--
<ng-template #NoUsers> No Users Found</ng-template>
-->

<h4 *ngIf="users?.length == 0">No Users Found</h4>
<h4 *ngIf="!loaded">loading users....</h4> 